{% extends "base.html" %}

{% block title %} صلاحيات الفروع{% endblock %}

{% block content %}
<div class="container">
    <div style="direction: rtl;" class="col-12 container_invoice">
        <div class="content-wrapper p-5">
            <h1>تغيير كلمة المرور</h1>
            <form method="post">
                {% csrf_token %}
               

              
                <!-- كلمة المرور القديمة -->
                <div class="form-group">
                    <label for="{{ form.old_password.id_for_label }}">كلمة المرور القديمة:</label>
                    {{ form.old_password }}
                </div>
                <!-- كلمة المرور الجديدة -->
                <div class="form-group">
                    <label for="{{ form.new_password1.id_for_label }}">كلمة المرور الجديدة:</label>
                    {{ form.new_password1 }}
                </div>
                <!-- تأكيد كلمة المرور الجديدة -->
                <div class="form-group">
                    <label for="{{ form.new_password2.id_for_label }}">تأكيد كلمة المرور الجديدة:</label>
                    {{ form.new_password2 }}
                </div>
                <button type="submit">تغيير كلمة المرور</button>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock %}
